PORT=8899
DB_USER=root
DB_PASS=
DB_HOST=localhost
DB_PORT=3306
DB_NAME=go_ticketing
ELASTIC_USER=elastic
ELASTIC_PASS=elastic
ELASTIC_HOST=https://localhost:9200
ELASTIC_CERT=C:/elasticsearch-9.3.3/config/certs/http_ca.crt
JWT_SECRET=YOUR_JWT_SECRET_HERE